@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--serif-hed: "Tiempos Headline Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--font-body: var(--mono);
	--font-form: var(--mono);
	--background-body: var(--base-white);
  --background-form: var(--base-off-black);
	--color-body: var(--base-off-black);
	--color-placeholder: var(--base-gray-dark);
  --color-link: var(--base-off-black);
	--color-form: var(--base-white);
  --color-focus: var(--base-green);
	--color-border: var(--base-gray-light);
	--color-selection: var(--base-green);
  --color-highlight: var(--base-green);

	--border-radius: 0;
	--padding: 0.25em;
	--font-small: 0.8em;
}



main {
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: var(--mono);
}

h1 {
	line-height: 1.2;
	font-weight: bold;
	margin: 1em 0;
}

p {
	line-height: 1.6;
	margin: 2em 0;
}

mark {
	font-size: var(--font-small);
}

img {
	filter: grayscale(100%);
	display: block;
}

figcaption {
	font-size: var(--font-small);
	margin-top: 0.5em;
}

.prose {
	width: 100%;
	max-width: 30em;
	margin: 0 auto;
}

button:hover {
	background: var(--base-gray-medium);
}

@media only screen and (min-width: 480px) {
	main {
		font-size: 18px;
	}
}